:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  height: 100vh;
  padding:5vh;
  padding-left: 20vh;
  padding-right: 20vh;
  background-color: #d9d9d9;
  padding-top: 3.57vh;
  padding-bottom: 7.14vh;
}

.grid {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1; /* Ensures each column takes up 1/3 of the width */
  text-align: center;
  padding: 16px;
  border: 2px solid #ccc; /* Add border here */
  height: 100%;
}

/* .column span {
  display: block; Ensure the text inside the column is block level
}*/

.roof {
  height: 32.14vh; /* 1/3 of screen height 28.57+3.57*/ 
}

.base {
  height: 57.14vh; /* 2/3 of screen height */
  
}

.triangle {
  width: 0;
  height: 0;
  border-left: 38.5vw solid transparent;   /* 50% of the container's width */
  border-right: 38.5vw solid transparent;   /* 50% of the container's width */
  border-bottom: 32.14vh solid #C9A77B;
  position: relative; /* To position the content inside */
}



.triangle img {
  position: absolute;
  top: 12.5%; /* Adjusts the image's vertical position within the triangle */
  left: 12.5%; /* Centers the image horizontally */
  width: 75%; /* Adjust the width to cover the appropriate area */
  height: 75%; /* Adjust the height to cover the appropriate area */
  object-fit: cover; /* Ensures the image fills the circular area without distortion */
  border-radius: 50%; /* Makes the image circular */
  clip-path: polygon(50% 0%, 100% 75%, 0% 75%); /* Clips the image to the triangle shape */
}