:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  padding: 5vh;
  padding-left: 20vh;
  padding-right: 20vh;
  padding-top: 3.57vh;
  padding-bottom: 7.14vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1; /* Ensures each column takes up 1/3 of the width */
  text-align: center;
  padding: 16px;
  border: 2px solid #ccc; /* Add border here */
  height: 100%;
}

/* .column span {
  display: block; Ensure the text inside the column is block level
}*/

.roof {
  height: 32vh; /* 1/3 of screen height 28.57+3.57*/
  display: flex;
  justify-content: center;
  width: 100%;
}

.base {
  height: 57.14vh; /* 2/3 of screen height */
}

.triangle-container {
  position: relative;
  width: 100%;
  max-width: 80vw; /* Restrict the maximum width */
  display: flex;
  justify-content: center;
  align-items: center;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 38vw solid transparent;
  border-right: 38vw solid transparent;
  border-bottom: 32.14vh solid #c9a77b;
  position: absolute;
  z-index: 2; /* Ensure the triangle stays in front */
}

.large-triangle {
  width: 0;
  height: 0;
  border-left: 44vw solid transparent; /* Larger triangle */
  border-right: 44vw solid transparent; /* Larger triangle */
  border-bottom: 35vh solid #b3926f; /* You can use a different color for the larger triangle */
  position: absolute;
  z-index: 1; /* Ensure this triangle stays behind the smaller one */
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.1));
}

.image-container {
  width: 18vh;
  height: 18vh;
  position: absolute;
  top: 50%; /* Move it down to the middle */
  left: 50%; /* Move it to the center */
  transform: translate(-50%, -50%) scale(1.5); /* Center the image and scale it 1.5 times */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Makes it a perfect circle */
  overflow: hidden; /* Ensure the image fits within the container */
  z-index: 3; /* Ensure the image stays in front of the triangles */
}

.circle {
  width: 18vh;
  height: 18vh;
  border-radius: 100%; /* Makes it a perfect circle */
  position: absolute;
  top: 50%; /* Move it down to the middle */
  left: 50%; /* Move it to the center */
  transform: translate(-50%, 20%) scale(2.3); /* Center the circle */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-align: center;
}
